/* Geral das páginas, ademais a principal */
body{
    background-color: var(--cor-fundo);
    background-repeat: repeat;
    height: 100%;
    margin: 0;
    font-family: 'Arvo', 'Crete Round', 'PT Serif', 'Volkhov', sans-serif;
    color: var(--cor-texto);
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    border-bottom: 5px var(--cor-destaque) solid;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-top: 5px var(--cor-destaque) solid;
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    gap: 50px;
    font-size: x-large;
}
a{
    color: var(--cor-texto);
    text-decoration: none;
    transition: color 0.3s;
}
a:hover, a:active{
    color: var(--cor-destaque);
}
.dado20{
    width: 70px;
    
}
.grimoriobonito{
    width: 70px;
    margin-left: 30px;
}
.pagina_atual{
    text-decoration: underline rgba(255, 255, 255, 0.806);
}

/* Menu do mobile (click no grimório) */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: var(--cor-fundo);
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        padding: 10px;
       
    }
   
    .nav-links.active {
        display: flex;
        z-index: 999;
    }
    .menu-icon {
        display: block;    
    }
}
/* Página principal do mestre onde é mostrado as campanhas */
.titulo_campanhas{
    text-align: center;
    text-decoration: underline;
}
.campanhas{
    display: flex;
    flex-direction: column;
    text-decoration: underline;
    color: var(--cor-destaque);
}
.campanhas .container_campanha{
    display: flex;
    flex-direction: column;    
    border: solid 5px var(--cor-destaque);
    border-radius: 20px;
    margin: 20px;
    padding: 30px;
}
.campanhas .container_campanha button{
    width: 70px;
}
/* Página individual das campanhas */
.class_img_da_campanha{
    text-align: center;
    margin-top: 50px;
}
.borda_img_da_campanha{
    border: 3px solid var(--cor-destaque);
}
.tabela_de_personagens_campanha{
    display: flex;
    justify-content: center;
    width: 100%;
    border-collapse: collapse;
    border-color: var(--cor-destaque);
    background-color: var(--cor-fundo);
}
.class_nome_da_campanha{
    color: var(--cor-destaque);
    font-size: 40px;
}
.class_desc_da_campanha{
    color: var(--cor-texto);
}
.inicio_fim{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 75px;
}
.class_anuncio_de_players{
    color: var(--cor-destaque);
}
.cor_colunas_tabela_de_players{
    color: var(--cor-destaque);
}
.letra_grande{
    font-size:30px;
    color: var(--cor-destaque);
}
.letra_pequena{
    font-size: 22px;
    color: var(--cor-texto);
}
.caixa_dos_players{
    border: solid 10px;
    border-radius: 5px;
    border-color: var(--cor-destaque);
    margin-bottom: 30px;
}
.body_players{
    padding-left: 120px;
    padding-right: 120px;
}
/*Aqui atribuimos características gerais aos elementos*/
h1{
    text-align: center;
    font-size: 40px;
    color: var(--cor-destaque);
}
h2{
    text-align: center;
    font-size: 25px;
    color: var(--cor-destaque);
}
h3{
    text-align: center;
    font-size: 20px;
    color: var(--cor-destaque);
}
p{
    text-align: center;
    font-size: 150%;
    margin: 20px;
    color: var(--cor-texto);
}
th, td {
    word-wrap: break-word;
    white-space: normal;
    vertical-align: middle;
    font-size: 1.1em;
    text-align: center;
    border-collapse: collapse;
    border: 2px solid;
    border-color: var(--cor-destaque);
}
tr{
    border: 2px solid;
    border-color: var(--cor-destaque);
}
