/* O Geral */
body{
    background-color: var(--cor-fundo);
    background-repeat: repeat;
    height: 100%;
    margin: 0;
    font-family: 'Arvo', 'Crete Round', 'PT Serif', 'Volkhov', sans-serif;
    color: var(--cor-texto);
}


nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    border-bottom: 5px var(--cor-destaque) solid;
    
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-top: 5px var(--cor-destaque) solid;
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    gap: 50px;
    font-size: x-large;
}

a{
    color: var(--cor-texto);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover, a:active{
    color: var(--cor-destaque);
}
.dado20{
    width: 70px;
    
}
.grimoriobonito{
    width: 70px;
    margin-left: 30px;
}

/* estamos mexendo com o hamburguinho (menu) */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: var(--cor-fundo);
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        padding: 10px;
       
    }
   
    .nav-links.active {
        display: flex;
        z-index: 999;
    }
    .menu-icon {
        display: block;    
    }
   
 }
 /* Mexendo com a página do mestre */

.pagina_atual{
    text-decoration: underline rgba(255, 255, 255, 0.806);
}


.campanhas{
    display: flex;
    flex-direction: column;
    text-decoration: underline;
}
.item1{
    text-align: center;
    
    text-decoration: underline;
}
.campanhas .item2{
    display: flex;
    flex-direction: column;    
    border: solid 5px var(--cor-destaque);
    border-radius: 20px;
    margin: 20px;
    padding: 30px;
}
.campanhas .item2 button{
    width: 70px;
    
    
}
.tabela_de_personagens_campanha{
    display: flex;
    justify-content: center;
    width: 100%;
    border-collapse: collapse;
    border-color: var(--cor-destaque);
    background-color: var(--cor-fundo);
}
.class_nome_da_campanha{
    
}
.class_desc_da_campanha{
    
}
.class_anuncio_de_players{
    
}
.tabela_de_personagens_campanha tr, th, td{
}
.cor_players{
    
    
}
.cor_colunas{
    color: var(--cor-destaque);
}
.borda_imagem{
    border: 3px solid var(--cor-destaque);
}
.class_img_da_campanha{
    text-align: center;
    margin-top: 50px;
}
.artigos{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 75px;
}
.leta_gande{
    font-size: 25px;
    color: var(--cor-destaque);
}
.leta_peqena{
    color: var(--cor-texto);
}
.caixa_dos_players{
    border: solid 10px;
    border-radius: 5px;
    border-color: var(--cor-destaque);
}
.body_players{
    padding-left: 120px;
    padding-right: 120px;
}
h1{
    text-align: center;
    font-size: 40px;
    color: var(--cor-destaque);
}
h2{
    text-align: center;
    font-size: 25px;
    color: var(--cor-destaque);
    /* color: rgb(236, 166, 166); */
}
h3{
    text-align: center;
    font-size: 20px;
    color: var(--cor-destaque);
}
p{
    text-align: center;
    font-size: 150%;
    margin: 20px;
    color: var(--cor-texto);
}
th, td {
    word-wrap: break-word;
    white-space: normal;
    vertical-align: middle;
    font-size: 1.1em;
    text-align: center;
    border-collapse: collapse;
    border: 2px solid;
    border-color: var(--cor-destaque);
}
tr{
    border: 2px solid;
    border-color: var(--cor-destaque);
}
