/* O Geral */
body{
    background: linear-gradient(to right, #11954a, #000000);
    background-repeat: repeat;
    height: 100%;
    margin: 0;
    color: white;
    font-family: 'Arvo', 'Crete Round', 'PT Serif', 'Volkhov', sans-serif
}
main{
    color: rgb(234, 234, 234);
    text-decoration: underline rgba(255, 255, 255, 0.722);
    
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(44, 181, 65);
    border-bottom: 5px rgba(255, 255, 255, 0.708) solid;
    color: white;
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    gap: 50px;
    font-size: x-large;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover, a:active{
    color: rgb(127, 228, 179);
}
.dado20{
    width: 70px;
    
}
.grimoriobonito{
    width: 70px;
    margin-left: 30px;
}

/* estamos mexendo com o hamburguinho (menu) */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #174a0b;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        padding: 10px;
        color: white;
    }
   
    .nav-links.active {
        display: flex;
        z-index: 999;
    }
    .menu-icon {
        display: block;    
    }    
 }
 /* Mexendo com a página do mestre */

.pagina_atual{
    text-decoration: underline rgba(255, 255, 255, 0.806);
}


.campanhas{
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: underline;
}
.item1{
    text-align: center;
    color: white;
    text-decoration: underline;
}
.campanhas .item2{
    display: flex;
    flex-direction: column;
    background-image: url(./imagens/foto_default_verde.webp);
    color: rgb(255, 255, 255);
    border: solid 5px rgba(0, 128, 0, 0.337);
    border-radius: 20px;
    margin: 20px;
    padding: 30px;
}
.campanhas .item2 button{
    width: 70px;
}
.tabela_de_personagens_campanha{
    display: flex;
    justify-content: center;
    width: 100%;
    border-collapse: collapse;

}
.class_nome_da_campanha{
    color: rgb(167, 211, 177);
}
.class_desc_da_campanha{
    color: rgb(167, 211, 177);
}
.class_anuncio_de_players{
    color: rgb(167, 211, 177);
}
.tabela_de_personagens_campanha tr, th, td{
    color: rgb(167, 211, 177);
}
.cor_players{
    color: rgb(186, 221, 184);
    text-decoration: none;
}
.cor_colunas{
    color: rgb(4, 85, 1);
}
.borda_imagem{
    border: 3px solid rgb(186, 221, 184);
}
.class_img_da_campanha{
    text-align: center;
    margin-top: 50px;
}
.artigos{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 75px;
}
.leta_gande{
    font-size: 25px;
    color: rgb(78, 168, 75);
}
.leta_peqena{
    color: #066830;
}
.caixa_dos_players{
    border: solid 10px;
    border-radius: 5px;
    border-color: rgb(118, 48, 143);
}
.body_players{
    padding-left: 120px;
    padding-right: 120px;
}
h1{
    text-align: center;
    font-size: 40px;
}
h2{
    text-align: center;
    font-size: 25px;
}
h3{
    text-align: center;
    font-size: 20px;
}
p{
    text-align: center
}
th, td {
    word-wrap: break-word;
    white-space: normal;
    vertical-align: middle;
    font-size: 1.1em;
    text-align: center;
    border-collapse: collapse;
}
tr{
    background-color: #108141;
}
p{
    font-size: 150%;
    color: #ffffff;
    margin: 20px;
}
